* {
 font-size: 20px;
 color: #000;
 list-style: none;
 text-decoration: none;
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image{
    overflow: hidden;
}
:root{
    --basic-color: #d1effa;
    --sub-color: #e5f7dbc5;
    --base-space: 10px;
}


/* menu area */
.menu{
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
}
.closeMenu,
.burgerMenu{
    width: 60px;
    padding: var(--base-space);
}
.closeMenu:hover,
.burgerMenu:hover{
    color: blue;
}
.burgerMenu{
    display: none;
}
.navMenu .nav{
    display: flex;
    transition: all 0.3s;
}
.menu .logo,
.navMenu .nav li {
    padding: 0px 15px;
}

/* banner area */
.banner {
    background: var(--basic-color);
    height: 250px;
    position: relative;
}
.banner .topic{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* mainContent area */
.mainContent{
    padding: calc(var(--base-space) * 2);
}
.container {
    margin: auto;
    /* outline: 1px solid red; */
}

/* smallBoxArea area */
.smallBoxArea{
    display: flex;
    flex-wrap: wrap;
}
.smallBox{
    flex: 1;
    display: flex;
    margin: var(--base-space);
}

.smallBox .text{
    line-height: 50px;
    flex: 1;
    background: var(--basic-color);
    padding-left: var(--base-space);
}

/* bigBoxArea area */
.bigBoxArea{
    display: flex;
    flex-wrap: wrap;
}
.bigBox {
    margin: var(--base-space);
    position: relative;
}
.bigBox .image {
    height: 100%;
}
.bigBox .text {
    background: var(--sub-color);
    padding: var(--base-space);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.bigBox .icon {
    width: 20px;
    position: absolute;
    top: var(--base-space);
    right: var(--base-space);
}


/* Large Size */
@media screen and (max-width: 1920px) {
    .container {
        max-width: 1200px;
    }
    .menu .burgerMenu,
    .navMenu .closeMenu{
        display: none;
    }
    .smallBox .image{
        width: 80px;
        height: 50px;
    }

    /* bigBoxArea area */
    .bigBox {
        flex: 2;
        min-width: calc(100% / 6 - var(--base-space) * 2);
    }
    .bigBox:nth-child(5n + 1){
        flex: 4 1 calc(100% / 6);
    }
}

/* Medium Size */
@media screen and (max-width: 1200px) {
    .menu .navMenu{
        display: block;
        box-shadow: none;
        border-left: none;
        position: relative;
    }
    .navMenu .nav{
        flex-direction: row;
    }
    /* smallBoxArea area */
    .smallBox{
        flex: 1 1 calc(100% / 2 - var(--base-space) * 2);
    }

    /* bigBoxArea area */
    .bigBox {
        flex: 1;
        min-width: calc(100% / 4 - var(--base-space) * 2);
    }
}

/* Small Size */
@media screen and (max-width: 600px) {
    .menu .burgerMenu{
        display: block;
    }
    .menu .navMenu.show{
        display: block;
    }
    .menu .navMenu.hide{
        display: none;
    }
    .menu .navMenu{
        width: 200px;
        border-left: 1px solid #dedede;
        box-shadow: -5px 0px 10px #00000021;
        background-color: antiquewhite;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.5s;
        z-index: 1;
    }
    .navMenu .closeMenu{
        display: block;
        position: fixed;
        right: 0;
        top: 0;
    }
    .navMenu .nav{
        flex-direction: column;
    }
    .smallBox,
    .bigBox {
        flex-basis: 100%;
    }
}

